

body{
    margin: 0%;
    padding: 0%;
}
.working-bg{
background-color:#F4FAFD;
}
p{
    font-size: 1rem;
}
.fa-solid{
    color: yellow;
    height: 50px;
}
h1{
    font-size: 60px;
}
footer{
    background-color: black;
    color: white;
}
.fa-brands fa-facebook-f{
    height: 20px;
}
.cover{
    filter: brightness(50%);
}